:root {
    --modal-gradient: linear-gradient(90deg, #1b1b1b 0%, #2a2a2a 20%, #333333 26%, #3c3c3c 32%, #454545 38%, #505050 44%, #606060 49%, #707070 51%, #808080 52%, #707070 59%, #2a2a2a 84%, #454545 95%, #1b1b1b 100%);
    --bg-warning-color: #2a2a2a;
    --true-wallet-content-color: linear-gradient(257deg, #1b1b1b 0%, #3a3a3a 100%);
    --common-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --common-border: 2px solid #707070;
    --lobby-play-bg: linear-gradient(109.6deg, #3a3a3a 11.2%, #4a4a4a 100.2%);
    --lobby-play-ma-bg: linear-gradient(109.6deg, #1e1e1e 11.2%, #3b3b3b 100.2%);
    --feature-bg-gradient: linear-gradient(#1b1b1b, #2a2a2a, #333333, #3c3c3c, #454545, #505050, #606060, #707070, #808080, #707070, #2a2a2a, #454545, #1b1b1b);
    --feature-game-bg: linear-gradient(0deg, #0e0e0e 0%, #000000 23.44%, #1a1a1a 52.6%, #000000 81.25%, #0e0e0e 100%);
    --feature-game-border: 3px solid #707070;
    --feature-game-box-shadow: 0px 5px 4px 0px #000000;
    --login-page-border: 2px solid #707070;
    --input-bg: #2e2e2e;
    --promotion-gradient-bg: linear-gradient(180deg, rgba(27, 27, 27, 0.8) 0%, rgba(42, 42, 42, 0.8) 20%, rgba(51, 51, 51, 0.8) 26%, rgba(60, 60, 60, 0.8) 32%, rgba(69, 69, 69, 0.8) 38%, rgba(80, 80, 80, 0.8) 44%, rgba(96, 96, 96, 0.8) 49%, rgba(112, 112, 112, 0.8) 51%, rgba(128, 128, 128, 0.8) 52%, rgba(112, 112, 112, 0.8) 59%, rgba(42, 42, 42, 0.8) 84%, rgba(69, 69, 69, 0.8) 95%, rgba(27, 27, 27, 0.8) 100%);
    --promotion-modal-bg: linear-gradient(180deg, #000000 0%, #2e2e2e 48.96%, #000000 100%);
    --btn-menu-custom-bg: linear-gradient(180deg, rgb(27 27 27 / 60%) 0%, rgba(42, 42, 42, 0.6) 50%, rgb(51 51 51 / 60%) 100%);
    --btn-menu-custom-border: 1px solid #2a2a2a;
    --tooltip-bg: #efefef;
    --lucky-wheel-box-shadow: 0px 0px 10px 0px #808080;
    --lucky-wheel-border: 1px solid #333333;
    --lobby-header-menu-bg: linear-gradient(270deg, #0e0e0e 0%, #000000 23.44%, #1a1a1a 52.6%, #000000 81.25%, #0e0e0e 100%);
    --lobby-header-menu-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --lobby-header-menu-border-color: #1e1e1e;
    --header-bg: linear-gradient(to right, #0e0e0e, #000000, #1a1a1a, #000000, #0e0e0e);
    --header-btn-border: 1px solid #404040;
    --header-btn-bg: #ffffff;
    --header-btn-color: #000000;
    --body-bg: #0e0e0e;
    --sidebar-bg: black;
    --acc-copy-bg: #000000;
    --a-copy-bg: #2d2d2d;
    --sidebar-container-bg: rgba(0, 0, 0, 0.5);
    --slideshow-container-bg: rgba(0, 0, 0, 0.8);
    --slideshow-container-after-login-color: #f2f2f2;
    --slideshow-container-after-login-bg: #717171;
    --footer-box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.39);
    --tx-success-bg: #00C136;
    --tx-pendding-bg: #818683;
    --tx-danger-bg: #F64E60;
    --add-account-color: #f00;
    --login-page-color: #fa0;
    --hero-text-color: #707070;
    --earn-modal-content-bg: linear-gradient(180deg, #575757 0%, #007fa7 100%);
    --earn-modal-content-color: #fff;
    --earn-modal-content-bg-color: #000;
    --earn-modal-content--qr-bg-color: #393939;
    --withdraw-modal-content-line-bg: #0fb800;
    --withdraw-modal-content-line-border: 1px solid #fff;
    --withdraw-modal-content-history-color: #646464;
    --withdraw-modal-content-color: #00fcfc;
    --withdraw-modal-content-money-input-color: #b5b5b5;
    --withdraw-modal-content-money-input-border-bottom: 1px solid #545353;
    --withdraw-modal-content-bg: #d9d9d9;
    --modal-content-color: #007070;
    --modal-content-bg-color: #f3f3f3;
    --modal-content-border: 1px solid rgba(50, 50, 50, 0.8);
    --modal-content-border2: 1px solid #fcabab;
    --modal-content-box-shadow1: 0px 0px 4px 2px #000000;
    --modal-content-box-shadow2: 0px 0px 4px 2px #303030;
    --modal-content-box-shadow3: 0px 0px 4px 2px #606060;
    --register-success-modal-content-color: #00aaaa;
    --button-validationt-border: 1px solid #000000;
    --step-de-ti-color: #fa0;
    --font-zc-color: #0606d5;
}