:root {
    --modal-gradient: linear-gradient(90deg, #f78db5 0%, #b51057 20%, #b71360 26%, #be1f6c 32%, #cb327d 38%, #dc4e96 44%, #f270b2 49%, #f78db5 51%, #ffb6d7 52%, #f78db5 59%, #b51057 84%, #e55b96 95%, #f78db5 100%);
    --bg-warning-color: #c13b93;
    --true-wallet-content-color: linear-gradient(257deg, #ee0047 0%, #ff3178 100%);
    --common-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --common-border: 2px solid #f78db5;
    --lobby-play-bg: linear-gradient(109.6deg, #ff2fd7 11.2%, #fd00f4 100.2%);
    --lobby-play-ma-bg: linear-gradient(109.6deg, #8e577f 11.2%, #d011c9 100.2%);
    --feature-bg-gradient: linear-gradient(#f78db5, #b51057, #b71360, #be1f6c, #cb327d, #dc4e96, #f270b2, #f78db5, #ffb6d7, #f78db5, #b51057, #e55b96, #f78db5);
    --feature-game-bg: linear-gradient(0deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
    --feature-game-border: 3px solid #f78db5;
    --feature-game-box-shadow: 0px 5px 4px 0px #000;
    --login-page-border: 2px solid #f78db5;
    --input-bg: #433d3d;
    --promotion-gradient-bg: linear-gradient(180deg, rgba(247, 141, 181, 0.8) 0%, rgba(181, 16, 87, 0.8) 20%, rgba(183, 19, 96, 0.8) 26%, rgba(190, 31, 108, 0.8) 32%, rgba(203, 50, 125, 0.8) 38%, rgba(220, 78, 150, 0.8) 44%, rgba(242, 112, 178, 0.8) 49%, rgba(247, 141, 181, 0.8) 51%, rgba(255, 182, 215, 0.8) 52%, rgba(247, 141, 181, 0.8) 59%, rgba(181, 16, 87, 0.8) 84%, rgba(229, 91, 150, 0.8) 95%, rgba(247, 141, 181, 0.8) 100%);
    --promotion-modal-bg: linear-gradient(180deg, #000000 0%, #3c3b3b 48.96%, #000000 100%);
    --btn-menu-custom-bg: linear-gradient(180deg, rgb(255 19 252 / 60%) 0%, rgba(255, 0, 215, 0.6) 50%, rgb(251 44 247 / 60%) 100%);
    --btn-menu-custom-border: 1px solid #ff00d7;
    --tooltip-bg: #efefef;
    --lucky-wheel-box-shadow: 0px 0px 10px 0px #ffb6d7;
    --lucky-wheel-border: 1px solid #b71360;
    --lobby-header-menu-bg: linear-gradient(270deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000000 81.25%, #242424 100%);
    --lobby-header-menu-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --lobby-header-menu-border-color: #771e32;
    --header-bg: linear-gradient(to right, #242424, #0a0000, #191919, #000000, #242424);
    --header-btn-border: 1px solid #a65988;
    --header-btn-bg: #ffffff;
    --header-btn-color: #000000;
    --body-bg: #0e0e0e;
    --sidebar-bg: #550033;
    --acc-copy-bg: #000000;
    --a-copy-bg: #2E2D2D;
    --sidebar-container-bg: rgba(0, 0, 0, 0.5);
    --slideshow-container-bg: rgba(0, 0, 0, 0.8);
    --slideshow-container-after-login-color: #f2f2f2;
    --slideshow-container-after-login-bg: #717171;
    --footer-box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.39);
    --tx-success-bg: #00C136;
    --tx-pendding-bg: #818683;
    --tx-danger-bg: #F64E60;
    --add-account-color: #ff0050;
    --login-page-color: #ff00aa;
    --hero-text-color: #f78db5;
    --earn-modal-content-bg: linear-gradient(180deg, #ff57c7 0%, #a7006f 100%);
    --earn-modal-content-color: #fff;
    --earn-modal-content-bg-color: #000;
    --earn-modal-content--qr-bg-color: #3e3939;
    --withdraw-modal-content-line-bg: #b800b0;
    --withdraw-modal-content-line-border: 1px solid #fff;
    --withdraw-modal-content-history-color: #646464;
    --withdraw-modal-content-color: #fc00fc;
    --withdraw-modal-content-money-input-color: #b5b5b5;
    --withdraw-modal-content-money-input-border-bottom: 1px solid #545353;
    --withdraw-modal-content-bg: #d9d9d9;
    --modal-content-color: #ff00b8;
    --modal-content-bg-color: #f3f3f3;
    --modal-content-border: 1px solid rgba(203, 50, 125, 0.8);
    --modal-content-border2: 1px solid #fcabab;
    --modal-content-box-shadow1: 0px 0px 4px 2px #ff0000;
    --modal-content-box-shadow2: 0px 0px 4px 2px #ff0099;
    --modal-content-box-shadow3: 0px 0px 4px 2px #8e0036;
    --register-success-modal-content-color: #ff00aa;
    --button-validationt-border: 1px solid #ff0000;
    --step-de-ti-color: #fa0;
    --font-zc-color: #d506d5;
}