:root {
    --modal-gradient: linear-gradient(90deg, #d07bf9 0%, #7510b5 20%, #7b13b7 26%, #8c1fbe 32%, #9d32cb 38%, #b64edc 44%, #d570f2 49%, #d07bf9 51%, #e7a6ff 52%, #d07bf9 59%, #7510b5 84%, #c25be5 95%, #d07bf9 100%);
    --bg-warning-color: #933bc1;
    --true-wallet-content-color: linear-gradient(257deg, #4700ee 0%, #7831ff 100%);
    --common-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --common-border: 2px solid #d07bf9;
    --lobby-play-bg: linear-gradient(109.6deg, #d72fff 11.2%, #fd00f4 100.2%);
    --lobby-play-ma-bg: linear-gradient(109.6deg, #87578e 11.2%, #b011d0 100.2%);
    --feature-bg-gradient: linear-gradient(#d07bf9, #7510b5, #7b13b7, #8c1fbe, #9d32cb, #b64edc, #d570f2, #d07bf9, #e7a6ff, #d07bf9, #7510b5, #c25be5, #d07bf9);
    --feature-game-bg: linear-gradient(0deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
    --feature-game-border: 3px solid #d07bf9;
    --feature-game-box-shadow: 0px 5px 4px 0px #000;
    --login-page-border: 2px solid #d07bf9;
    --input-bg: #3d3d43;
    --promotion-gradient-bg: linear-gradient(180deg, rgba(208, 123, 249, 0.8) 0%, rgba(117, 16, 181, 0.8) 20%, rgba(123, 19, 183, 0.8) 26%, rgba(140, 31, 190, 0.8) 32%, rgba(157, 50, 203, 0.8) 38%, rgba(182, 78, 220, 0.8) 44%, rgba(213, 112, 242, 0.8) 49%, rgba(208, 123, 249, 0.8) 51%, rgba(231, 166, 255, 0.8) 52%, rgba(208, 123, 249, 0.8) 59%, rgba(117, 16, 181, 0.8) 84%, rgba(194, 91, 229, 0.8) 95%, rgba(208, 123, 249, 0.8) 100%);
    --promotion-modal-bg: linear-gradient(180deg, #000000 0%, #3b3c3c 48.96%, #000000 100%);
    --btn-menu-custom-bg: linear-gradient(180deg, rgb(251 19 255 / 60%) 0%, rgba(215, 0, 255, 0.6) 50%, rgb(251 44 247 / 60%) 100%);
    --btn-menu-custom-border: 1px solid #d700ff;
    --tooltip-bg: #efefef;
    --lucky-wheel-box-shadow: 0px 0px 10px 0px #e7a6ff;
    --lucky-wheel-border: 1px solid #7b13b7;
    --lobby-header-menu-bg: linear-gradient(270deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000000 81.25%, #242424 100%);
    --lobby-header-menu-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --lobby-header-menu-border-color: #771e32;
    --header-bg: linear-gradient(to right, #242424, #0a0000, #191919, #000000, #242424);
    --header-btn-border: 1px solid #a688a6;
    --header-btn-bg: #ffffff;
    --header-btn-color: #000000;
    --body-bg: #0e0e0e;
    --sidebar-bg: purple;
    --acc-copy-bg: #000000;
    --a-copy-bg: #2d2d2e;
    --sidebar-container-bg: rgba(0, 0, 0, 0.5);
    --slideshow-container-bg: rgba(0, 0, 0, 0.8);
    --slideshow-container-after-login-color: #f2f2f2;
    --slideshow-container-after-login-bg: #717171;
    --footer-box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.39);
    --tx-success-bg: #00C136;
    --tx-pendding-bg: #818683;
    --tx-danger-bg: #F64E60;
    --add-account-color: #aa00ff;
    --login-page-color: #aa00ff;
    --hero-text-color: #d07bf9;
    --earn-modal-content-bg: linear-gradient(180deg, #7c57ff 0%, #6f00a7 100%);
    --earn-modal-content-color: #fff;
    --earn-modal-content-bg-color: #000;
    --earn-modal-content--qr-bg-color: #3e393e;
    --withdraw-modal-content-line-bg: #b800f0;
    --withdraw-modal-content-line-border: 1px solid #fff;
    --withdraw-modal-content-history-color: #646464;
    --withdraw-modal-content-color: #fc00fc;
    --withdraw-modal-content-money-input-color: #b5b5b5;
    --withdraw-modal-content-money-input-border-bottom: 1px solid #545353;
    --withdraw-modal-content-bg: #d9d9d9;
    --modal-content-color: #aa00b8;
    --modal-content-bg-color: #f3f3f3;
    --modal-content-border: 1px solid rgba(157, 50, 203, 0.8);
    --modal-content-border2: 1px solid #fcabab;
    --modal-content-box-shadow1: 0px 0px 4px 2px #ff00ff;
    --modal-content-box-shadow2: 0px 0px 4px 2px #cc00ff;
    --modal-content-box-shadow3: 0px 0px 4px 2px #8e00aa;
    --register-success-modal-content-color: #ff00ff;
    --button-validationt-border: 1px solid #ff00ff;
    --step-de-ti-color: #fa0;
    --font-zc-color: #d506d5;
}