:root {
    --modal-gradient: linear-gradient(90deg, #f9b87b 0%, #b57e10 20%, #b78113 26%, #be8c1f 32%, #cb9d32 38%, #dcb64e 44%, #f2d570 49%, #f9b87b 51%, #ffd7a6 52%, #f9b87b 59%, #b57e10 84%, #e5c25b 95%, #f9b87b 100%);
    --bg-warning-color: #c1933b;
    --true-wallet-content-color: linear-gradient(257deg, #ee4700 0%, #ff8731 100%);
    --common-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --common-border: 2px solid #f9b87b;
    --lobby-play-bg: linear-gradient(109.6deg, #ffa22f 11.2%, #ffd700 100.2%);
    --lobby-play-ma-bg: linear-gradient(109.6deg, #886e57 11.2%, #d0c911 100.2%);
    --feature-bg-gradient: linear-gradient(#f9b87b, #b57e10, #b78113, #be8c1f, #cb9d32, #dcb64e, #f2d570, #f9b87b, #ffd7a6, #f9b87b, #b57e10, #e5c25b, #f9b87b);
    --feature-game-bg: linear-gradient(0deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
    --feature-game-border: 3px solid #f9b87b;
    --feature-game-box-shadow: 0px 5px 4px 0px #000;
    --login-page-border: 2px solid #f9b87b;
    --input-bg: #433d3d;
    --promotion-gradient-bg: linear-gradient(180deg, rgba(249, 184, 123, 0.8) 0%, rgba(181, 126, 16, 0.8) 20%, rgba(183, 129, 19, 0.8) 26%, rgba(190, 140, 31, 0.8) 32%, rgba(203, 157, 50, 0.8) 38%, rgba(220, 182, 78, 0.8) 44%, rgba(242, 213, 112, 0.8) 49%, rgba(249, 184, 123, 0.8) 51%, rgba(255, 215, 166, 0.8) 52%, rgba(249, 184, 123, 0.8) 59%, rgba(181, 126, 16, 0.8) 84%, rgba(229, 194, 91, 0.8) 95%, rgba(249, 184, 123, 0.8) 100%);
    --promotion-modal-bg: linear-gradient(180deg, #000000 0%, #3c3b3b 48.96%, #000000 100%);
    --btn-menu-custom-bg: linear-gradient(180deg, rgb(255 252 19 / 60%) 0%, rgba(255, 215, 0, 0.6) 50%, rgb(251 247 44 / 60%) 100%);
    --btn-menu-custom-border: 1px solid #ffd700;
    --tooltip-bg: #efefef;
    --lucky-wheel-box-shadow: 0px 0px 10px 0px #ffd7a6;
    --lucky-wheel-border: 1px solid #b78113;
    --lobby-header-menu-bg: linear-gradient(270deg, #242424 0%, #0a0000 23.44%, #191919 52.6%, #000000 81.25%, #242424 100%);
    --lobby-header-menu-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --lobby-header-menu-border-color: #77321e;
    --header-bg: linear-gradient(to right, #242424, #0a0000, #191919, #000000, #242424);
    --header-btn-border: 1px solid #a68859;
    --header-btn-bg: #ffffff;
    --header-btn-color: #000000;
    --body-bg: #0e0e0e;
    --sidebar-bg: darkorange;
    --acc-copy-bg: #000000;
    --a-copy-bg: #2E2D2D;
    --sidebar-container-bg: rgba(0, 0, 0, 0.5);
    --slideshow-container-bg: rgba(0, 0, 0, 0.8);
    --slideshow-container-after-login-color: #f2f2f2;
    --slideshow-container-after-login-bg: #717171;
    --footer-box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.39);
    --tx-success-bg: #00C136;
    --tx-pendding-bg: #818683;
    --tx-danger-bg: #F64E60;
    --add-account-color: #ff5000;
    --login-page-color: #ffaa00;
    --hero-text-color: #f9b87b;
    --earn-modal-content-bg: linear-gradient(180deg, #ffb857 0%, #a76f00 100%);
    --earn-modal-content-color: #fff;
    --earn-modal-content-bg-color: #000;
    --earn-modal-content--qr-bg-color: #3e3939;
    --withdraw-modal-content-line-bg: #b85000;
    --withdraw-modal-content-line-border: 1px solid #fff;
    --withdraw-modal-content-history-color: #646464;
    --withdraw-modal-content-color: #fc9000;
    --withdraw-modal-content-money-input-color: #b5b5b5;
    --withdraw-modal-content-money-input-border-bottom: 1px solid #545353;
    --withdraw-modal-content-bg: #d9d9d9;
    --modal-content-color: #ffaa00;
    --modal-content-bg-color: #f3f3f3;
    --modal-content-border: 1px solid rgba(203, 157, 50, 0.8);
    --modal-content-border2: 1px solid #fcabab;
    --modal-content-box-shadow1: 0px 0px 4px 2px #ff0000;
    --modal-content-box-shadow2: 0px 0px 4px 2px #ff9900;
    --modal-content-box-shadow3: 0px 0px 4px 2px #ff6800;
    --register-success-modal-content-color: #ffaa00;
    --button-validationt-border: 1px solid #ff0000;
    --step-de-ti-color: #fa0;
    --font-zc-color: #d55f06;
}