:root {
    --modal-gradient: linear-gradient(90deg, #7bbff9 0%, #1057b5 20%, #1360b7 26%, #1f6cbe 32%, #327dcb 38%, #4e96dc 44%, #70b2f2 49%, #7bbff9 51%, #a6d7ff 52%, #7bbff9 59%, #1057b5 84%, #5b96e5 95%, #7bbff9 100%);
    --bg-warning-color: #3b6bc1;
    --true-wallet-content-color: linear-gradient(257deg, #0047ee 0%, #317eff 100%);
    --common-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --common-border: 2px solid #7bbff9;
    --lobby-play-bg: linear-gradient(109.6deg, #2fd7ff 11.2%, #00fdff 100.2%);
    --lobby-play-ma-bg: linear-gradient(109.6deg, #577f88 11.2%, #11d0c9 100.2%);
    --feature-bg-gradient: linear-gradient(#7bbff9, #1057b5, #1360b7, #1f6cbe, #327dcb, #4e96dc, #70b2f2, #7bbff9, #a6d7ff, #7bbff9, #1057b5, #5b96e5, #7bbff9);
    --feature-game-bg: linear-gradient(0deg, #242424 0%, #000a0a 23.44%, #191919 52.6%, #000 81.25%, #242424 100%);
    --feature-game-border: 3px solid #7bbff9;
    --feature-game-box-shadow: 0px 5px 4px 0px #000;
    --login-page-border: 2px solid #7bbff9;
    --input-bg: #3d3d43;
    --promotion-gradient-bg: linear-gradient(180deg, rgba(123, 191, 249, 0.8) 0%, rgba(16, 87, 181, 0.8) 20%, rgba(19, 96, 183, 0.8) 26%, rgba(31, 108, 190, 0.8) 32%, rgba(50, 125, 203, 0.8) 38%, rgba(78, 150, 220, 0.8) 44%, rgba(112, 178, 242, 0.8) 49%, rgba(123, 191, 249, 0.8) 51%, rgba(166, 215, 255, 0.8) 52%, rgba(123, 191, 249, 0.8) 59%, rgba(16, 87, 181, 0.8) 84%, rgba(91, 150, 229, 0.8) 95%, rgba(123, 191, 249, 0.8) 100%);
    --promotion-modal-bg: linear-gradient(180deg, #000000 0%, #3b3c3c 48.96%, #000000 100%);
    --btn-menu-custom-bg: linear-gradient(180deg, rgb(19 255 252 / 60%) 0%, rgba(0, 215, 255, 0.6) 50%, rgb(44 251 247 / 60%) 100%);
    --btn-menu-custom-border: 1px solid #00d7ff;
    --tooltip-bg: #efefef;
    --lucky-wheel-box-shadow: 0px 0px 10px 0px #a6d7ff;
    --lucky-wheel-border: 1px solid #1360b7;
    --lobby-header-menu-bg: linear-gradient(270deg, #242424 0%, #000a0a 23.44%, #191919 52.6%, #000000 81.25%, #242424 100%);
    --lobby-header-menu-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --lobby-header-menu-border-color: #1e3277;
    --header-bg: linear-gradient(to right, #242424, #000a0a, #191919, #000000, #242424);
    --header-btn-border: 1px solid #5988a6;
    --header-btn-bg: #ffffff;
    --header-btn-color: #000000;
    --body-bg: #0e0e0e;
    --sidebar-bg: blue;
    --acc-copy-bg: #000000;
    --a-copy-bg: #2d2d2e;
    --sidebar-container-bg: rgba(0, 0, 0, 0.5);
    --slideshow-container-bg: rgba(0, 0, 0, 0.8);
    --slideshow-container-after-login-color: #f2f2f2;
    --slideshow-container-after-login-bg: #717171;
    --footer-box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.39);
    --tx-success-bg: #00C136;
    --tx-pendding-bg: #818683;
    --tx-danger-bg: #F64E60;
    --add-account-color: #00f;
    --login-page-color: #0af;
    --hero-text-color: #7bbff9;
    --earn-modal-content-bg: linear-gradient(180deg, #57c7ff 0%, #006fa7 100%);
    --earn-modal-content-color: #fff;
    --earn-modal-content-bg-color: #000;
    --earn-modal-content--qr-bg-color: #393e3e;
    --withdraw-modal-content-line-bg: #00b8b0;
    --withdraw-modal-content-line-border: 1px solid #fff;
    --withdraw-modal-content-history-color: #646464;
    --withdraw-modal-content-color: #00fcfc;
    --withdraw-modal-content-money-input-color: #b5b5b5;
    --withdraw-modal-content-money-input-border-bottom: 1px solid #545353;
    --withdraw-modal-content-bg: #d9d9d9;
    --modal-content-color: #00b8ff;
    --modal-content-bg-color: #f3f3f3;
    --modal-content-border: 1px solid rgba(50, 125, 203, 0.8);
    --modal-content-border2: 1px solid #fcabab;
    --modal-content-box-shadow1: 0px 0px 4px 2px #0000ff;
    --modal-content-box-shadow2: 0px 0px 4px 2px #0099ff;
    --modal-content-box-shadow3: 0px 0px 4px 2px #00368e;
    --register-success-modal-content-color: #00aaff;
    --button-validationt-border: 1px solid #0000ff;
    --step-de-ti-color: #0af;
    --font-zc-color: #0606d5;
}